<body>

</body>
     
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>Customise ID</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <div id="customiseyourself">
          <p>
            Here we allow our customers to be creative in their own way!<br>
            Here you're able to pick from many different popular brands and models<br>
            to put your own design onto <b>OR</b> send us your deisn with a product<br>
            you would like this to be printed on with detailed instructions of<br>
            how you would like the design to be pritned onto the product and<br>
            we'll do all of the hard work for you!
          </p>
        </div>

        <div id="vanslogo">
          <img src="data:image/png;base64,{{VansLogo.image}}">
        </div>
        
        <div id="vanspage">

        <h2 class ="vansdesigntitle">Choose your design</h2>

        <div class="vanscustomisesection">
          <!--The customisation box -->
         <div id="vanscustomisebox">
          <!--Plain Images -->
          <img id="vansbackground" src="data:image/png;base64,{{VansBackground.image}}" width="100%" height="100%"> 
          <img class="vanscustomP1" id="vansole" src="data:image/png;base64,{{VanSole.image}}" width="100%" height="100%"> 
          <img class="vanscustomP2" id="vanmiddle" src="data:image/png;base64,{{VanMiddle.image}}" width="100%" height="100%">
          <img class="vanscustomP3" id="vanFNB" src="data:image/png;base64,{{VanBackAndToe.image}}" width="100%" height="100%">
          <img class="vanscustomP4" id="vanfront" src="data:image/png;base64,{{VanFront.image}}" width="100%" height="100%">
          <img class="vanscustomP5" id="vanlaces" src="data:image/png;base64,{{VanLaces.image}}" width="100%" height="100%">
          <img class="vanscustomP6" id="vantounge" src="data:image/png;base64,{{VanTounge.image}}" width="100%" height="100%">
          <img class="vanscustomP7" id="vantop" src="data:image/png;base64,{{VanTop.image}}" width="100%" height="100%">
          <img class="vanscustomP8" id="vanstripe" src="data:image/png;base64,{{VanStripe.image}}" width="100%" height="100%">

          <!--Blue Images --> 
          <img class="vanscustomB1" id="vansoleblue" src="data:image/png;base64,{{VanSoleBlue.image}}" width="100%" height="100%"> 
          <img class="vanscustomB2" id="vanmiddleblue" src="data:image/png;base64,{{VanMiddleBlue.image}}" width="100%" height="100%">   
          <img class="vanscustomB3" id="vanFNBblue" src="data:image/png;base64,{{VanBackAndToeBlue.image}}" width="100%" height="100%">
          <img class="vanscustomB4" id="vanfrontblue" src="data:image/png;base64,{{VanFrontBlue.image}}" width="100%" height="100%">
          <img class="vanscustomB5" id="vanlacesblue" src="data:image/png;base64,{{VanLacesBlue.image}}" width="100%" height="100%">
          <img class="vanscustomB6" id="vantoungeblue" src="data:image/png;base64,{{VanToungeBlue.image}}" width="100%" height="100%">
          <img class="vanscustomB7"id="vantopblue" src="data:image/png;base64,{{VanTopBlue.image}}" width="100%" height="100%">
          <img class="vanscustomB8" id="vanstripeblue" src="data:image/png;base64,{{VanStripeBlue.image}}" width="100%" height="100%">


          <!--Red Images -->
          <img class="vanscustomR1" id="vansolered" src="data:image/png;base64,{{VanSoleRed.image}}" width="100%" height="100%"> 
          <img class="vanscustomR2" id="vanmiddlered" src="data:image/png;base64,{{VanMiddleRed.image}}" width="100%" height="100%">
          <img class="vanscustomR3" id="vanFNBred" src="data:image/png;base64,{{VanBackAndToeRed.image}}" width="100%" height="100%">
          <img class="vanscustomR4" id="vanfrontred" src="data:image/png;base64,{{VanFrontRed.image}}" width="100%" height="100%">
          <img class="vanscustomR5" id="vanlacesred" src="data:image/png;base64,{{VanLacesRed.image}}" width="100%" height="100%">
          <img class="vanscustomR6" id="vantoungered" src="data:image/png;base64,{{VanToungeRed.image}}" width="100%" height="100%">
          <img class="vanscustomR7" id="vantopred" src="data:image/png;base64,{{VanTopRed.image}}" width="100%" height="100%">
          <img class="vanscustomR8" id="vanstripered" value="vanstripered" src="data:image/png;base64,{{VanStripeRed.image}}" width="100%" height="100%">

          <!--Green Images -->
          <img class="vanscustomG1" id="vansolegreen" src="data:image/png;base64,{{VanSoleGreen.image}}" width="100%" height="100%"> 
          <img class="vanscustomG2" id="vanmiddlegreen" src="data:image/png;base64,{{VanMiddleGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG3" id="vanFNBgreen" src="data:image/png;base64,{{VanBackAndToeGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG4" id="vanfrontgreen" src="data:image/png;base64,{{VanFrontGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG5" id="vanlacesgreen" src="data:image/png;base64,{{VanLacesGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG6" id="vantoungegreen" src="data:image/png;base64,{{VanToungeGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG7" id="vantopgreen" src="data:image/png;base64,{{VanTopGreen.image}}" width="100%" height="100%">
          <img class="vanscustomG8" id="vanstripegreen" src="data:image/png;base64,{{VanStripeGreen.image}}" width="100%" height="100%"> 

          <!--Black Images -->
          <img class="vanscustomBL1" id="vansoleblack" src="data:image/png;base64,{{VanSoleBlack.image}}" width="100%" height="100%"> 
          <img class="vanscustomBL2" id="vanmiddleblack" src="data:image/png;base64,{{VanMiddleBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL3" id="vanFNBblack" src="data:image/png;base64,{{VanBackAndToeBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL4" id="vanfrontblack" src="data:image/png;base64,{{VanFrontBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL5" id="vanlacesblack" src="data:image/png;base64,{{VanLacesBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL6" id="vantoungeblack" src="data:image/png;base64,{{VanToungeBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL7" id="vantopblack" src="data:image/png;base64,{{VanTopBlack.image}}" width="100%" height="100%">
          <img class="vanscustomBL8" id="vanstripeblack" src="data:image/png;base64,{{VanStripeBlack.image}}" width="100%" height="100%"> 

          <!--Special Images -->
          <img id="vanmiddletiger" src="data:image/png;base64,{{VanMiddleTiger.image}}" width="100%" height="100%"> 
        
        </div>

        <!--The whole slideshow of customisation options -->
        <div class ="slider" id="vanscustomiseselector">

          <!--Toe and Back Slide -->
          <div class="slide" id="vansFNB">
            <h3>Toe and Back Shoe</h3>
            <button class ="custombuttons" id="vanFNBcustomboxblue" onclick="VanFNBblue()"> </button>
            <button class ="custombuttons" id="vanFNBcustomboxred" onclick="VanFNBred()"> </button>                     
            <button class ="custombuttons" id="vanFNBcustomboxgreen" onclick="VanFNBgreen()"> </button>
            <button class ="custombuttons" id="vanFNBcustomboxblack" onclick="VanFNBblack()"> </button>
            <button class ="custombuttons" id="vanFNBcustomboxwhite" onclick="VanFNBwhite()"> </button>
          </div>
          
          <!--Laces Slide -->
          <div class="slide" id="vanlacescustom">
            <h3>Laces</h3>
            <button class ="custombuttons" id="vanlacescustomboxblue" onclick = "VanLacesBlue()"> </button>
            <button class ="custombuttons" id="vanlacescustomboxred" onclick = "VanLacesRed()"> </button>                     
            <button class ="custombuttons" id="vanlacescustomboxgreen" onclick = "VanLacesGreen()"> </button>
            <button class ="custombuttons" id="vanlacescustomboxblack" onclick = "VanLacesBlack()"> </button>
            <button class ="custombuttons" id="vanlacescustomboxwhite" onclick = "VanLacesWhite()"> </button>
          </div>
          
          <!--Stripe Slide -->
          <div class="slide" id="vanstripecustom">
            <h3>Stripe</h3>
            <button class ="custombuttons" id="stripecustomboxblue" onclick="VanStripeBlue()"> </button>
            <button class ="custombuttons" id="stripecustomboxred" onclick="VanStripeRed()"> </button>                 
            <button class ="custombuttons" id="stripecustomboxgreen" onclick="VanStripeGreen()"> </button>
            <button class ="custombuttons" id="stripecustomboxblack" onclick="VanStripeBlack()"> </button>
            <button class ="custombuttons" id="stripecustomboxwhite" onclick="VanStripeWhite()"> </button>
          </div>

          <!--Middle Section Slide -->
          <div class="slide" id="vanmiddlecustom">
            <h3>Middle Section</h3>
            <button class ="custombuttons" id="vanmiddlecustomboxblue" onclick="VanMiddleBlue()"> </button>
            <button class ="custombuttons" id="vanmiddlecustomboxred" onclick="VanMiddleRed()"> </button>                     
            <button class ="custombuttons" id="vanmiddlecustomboxgreen" onclick="VanMiddleGreen()"> </button>
            <button class ="custombuttons" id="vanmiddlecustomboxblack" onclick="VanMiddleBlack()"> </button>
            <button class ="custombuttons" id="vanmiddlecustomboxwhite" onclick="VanMiddleWhite()"> </button>
            <!--<button class ="custombuttons" id="vanmiddlecustomboxtiger" onclick="VanMiddleBlue()"> </button> -->
          </div>
          
          <!--Sole Section Slide -->
          <div class="slide" id="vansolecustom">
            <h3>Sole</h3>
            <button class ="custombuttons" id="vansolecustomboxblue" onclick="VanSoleBlue()"> </button>
            <button class ="custombuttons" id="vansolecustomboxred" onclick="VanSoleRed()"> </button>                     
            <button class ="custombuttons" id="vansolecustomboxgreen" onclick="VanSoleGreen()"> </button>
            <button class ="custombuttons" id="vansolecustomboxblack" onclick="VanSoleBlack()"> </button>
            <button class ="custombuttons" id="vansolecustomboxwhite" onclick="VanSoleWhite()"> </button>
          </div>
           
           <!--Tounge Section Slide -->
           <div class="slide" id="vantoungecustom">
            <h3>Tounge</h3>
            <button class ="custombuttons" id="vantoungecustomboxblue" onclick="VanToungeBlue()"> </button>
            <button class ="custombuttons" id="vantoungecustomboxred" onclick="VanToungeRed()"> </button>                     
            <button class ="custombuttons" id="vantoungecustomboxgreen" onclick="VanToungeGreen()"> </button>
            <button class ="custombuttons" id="vantoungecustomboxblack" onclick="VanToungeBlack()"> </button>
            <button class ="custombuttons" id="vantoungecustomboxwhite" onclick="VanToungeWhite()"> </button>
          </div>

          <!--Front Slide -->
          <div class="slide" id="vanfrontcustom">
            <h3>Front</h3>
            <button class ="custombuttons" id="vanfrontcustomboxblue" onclick="VanFrontBlue()"> </button>
            <button class ="custombuttons" id="vanfrontcustomboxred" onclick="VanFrontRed()"> </button>                     
            <button class ="custombuttons" id="vanfrontcustomboxgreen" onclick="VanFrontGreen()"> </button>
            <button class ="custombuttons" id="vanfrontcustomboxblack" onclick="VanFrontBlack()"> </button>
            <button class ="custombuttons" id="vanfrontcustomboxwhite" onclick="VanFrontWhite()"> </button>
          </div>
          
          <!--Top Slide -->
          <div class="slide" id="vantopcustom">
            <h3>Top</h3>
            <button class ="custombuttons" id="vantopcustomboxblue" onclick="VanTopBlue()"> </button>
            <button class ="custombuttons" id="vantopcustomboxred" onclick="VanTopRed()"> </button>                     
            <button class ="custombuttons" id="vantopcustomboxgreen" onclick="VanTopGreen()"> </button>
            <button class ="custombuttons" id="vantopcustomboxblack" onclick="VanTopBlack()"> </button>
            <button class ="custombuttons" id="vantopcustomboxwhite" onclick="VanTopWhite()"> </button>
          </div>

          
          <!--Slideshow buttons-->
          <div id="saveandclear">
            <button class="savedesign" onclick="savedesign()">Save to Gallery</button>
            <button class="redesign" onclick="redesign()"> Redesign </button><br>
            <button style="margin-left: 125px;" id="checkoutbutton">Checkout</button>
            <div id="entername">
            <!--User nickname textfield-->
            <p style="float: left; margin-top: 40px; left 70px;">Created By:</p>
            <input style= "margin-top: 40px; margin-left: 60px;" type="text" id="customnametext" value=""> </input>
            </div>
            <!--End of slideshow html-->

            <!-- Save pop up -->
            <div id="myModal" class="modal">
              <!-- Pop up conent -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <!-- Pop up conent -->
                  <!-- Customise option form -->
                  <form action='/customisation/vans/store' method="POST" autocomplete="off">
                   <div id='sole'></div>
                   <div id='middle' ></div>
                   <div id='fnb' ></div>
                   <div id='front' ></div>
                   <div id='laces'></div>
                   <div id='tounge' ></div>
                   <div id='top'></div>
                   <div id='stripe'></div>
                   <!-- End of form-->
                   <input id='customname' type='hidden' name='customname'></input>   
                <p>Are you sure you want to save your design? You wont be able to make any changes.</p>
                <button type="submit" class="yessavebutton" onclick="vanyessave()">yes</button>
                </form>
                <button style="margin-left: 45%;" class="nosavebutton" onclick="vannosave()">No</button>
              </div>

            </div>
          </div>

          <!-- Makes the slide go next -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <!-- Makes the slide go back -->
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <!-- The dots which allow you to select slide-->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
          </div>

        </div>

      </div>
      
      <!-- Shoe specs BETA-->
      <h2 class ="customiseheader vanspectitle"> Choose your shoe specs</h2>

        <div class="vanshoespecs">

          <div class="vanshoesize">
       
        <h3>Shoe Size</h2>
          <select>
        <option id="checkout" onclick="checkout()">Size 6</option>
        <option id="checkout" onclick="checkout()">Size 7</option>    
        <option id="checkout" onclick="checkout()">Size 8</option>
        <option id="checkout" onclick="checkout()">Size 9</option>
        <option id="checkout" onclick="checkout()">Size 10</option>

          </select>

          <button id="checkoutbutton">Checkout</button>

          </div>

        </div>  
         </div>


      <script type="text/javascript">

        //Global Variables
          var slideIndex = 1;
          showSlides(slideIndex);
          var btn = document.getElementById("savedesign");

          //Vans Sole Variables
          var blueSole = document.getElementById("vansoleblue"); var whiteSole = document.getElementById("vansole"); var redSole = document.getElementById("vansolered"); var greenSole = document.getElementById("vansolegreen"); var blackSole = document.getElementById("vansoleblack");
          
          //Vans Middle Variables
          var blueMiddle = document.getElementById("vanmiddleblue"); var whiteMiddle = document.getElementById("vanmiddle"); var redMiddle = document.getElementById("vanmiddlered"); var greenMiddle = document.getElementById("vanmiddlegreen"); var blackMiddle = document.getElementById("vanmiddleblack");

          //VansFrontandBack Variables
          var blueFNB = document.getElementById("vanFNBblue"); var whiteFNB = document.getElementById("vanFNB"); var redFNB = document.getElementById("vanFNBred"); var greenFNB = document.getElementById("vanFNBgreen"); var blackFNB = document.getElementById("vanFNBblack");
          
           //Vans Front Variables
          var blueFront = document.getElementById("vanfrontblue"); var whiteFront = document.getElementById("vanfront"); var redFront = document.getElementById("vanfrontred"); var greenFront = document.getElementById("vanfrontgreen"); var blackFront = document.getElementById("vanfrontblack");

          //Vans Laces Variables
          var blueLaces = document.getElementById("vanlacesblue"); var whiteLaces = document.getElementById("vanlaces"); var redLaces = document.getElementById("vanlacesred"); var greenLaces = document.getElementById("vanlacesgreen"); var blackLaces = document.getElementById("vanlacesblack");    
   
          //Vans Tounge Variables
          var blueTounge = document.getElementById("vantoungeblue"); var whiteTounge = document.getElementById("vantounge"); var redTounge = document.getElementById("vantoungered"); var greenTounge = document.getElementById("vantoungegreen"); var blackTounge = document.getElementById("vantoungeblack");

          //Vans Top Variables
          var blueTop = document.getElementById("vantopblue"); var whiteTop = document.getElementById("vantop"); var redTop = document.getElementById("vantopred"); var greenTop = document.getElementById("vantopgreen"); var blackTop = document.getElementById("vantopblack");
          
          //Vans Stripe Variables
          var blueStripe = document.getElementById("vanstripeblue"); var whiteStripe = document.getElementById("vanstripe"); var redStripe = document.getElementById("vanstripered"); var greenStripe = document.getElementById("vanstripegreen"); var blackStripe = document.getElementById("vanstripeblack");
       

      //Slideshow JavaScript
      // Next/previous slide controls
      function plusSlides(n) 
      {
        showSlides(slideIndex += n);
      }
      function currentSlide(n)
      {
        showSlides(slideIndex = n);
      }
      function showSlides(n) 
      {
        var i;
        var slides = document.getElementsByClassName("slide");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) 
          {
            slideIndex = 1
          }
          if (n < 1)
           {
            slideIndex = slides.length
           }
            for (i = 0; i < slides.length; i++) 
           {
              slides[i].style.display = "none";
           }
            for (i = 0; i < dots.length; i++) 
           {
              dots[i].className = dots[i].className.replace(" active", "");
           }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
       }
       //End of slideshow
      
      //Save Design Button (Before Pop-Up)
      function savedesign() 
      {
      var textinput = document.getElementById("customnametext");  
      var customnames = document.getElementById("customname"); 
      customnames.value = textinput.value; 
      var modal = document.getElementById("myModal");
      modal.style.display = "block"; 
      }

      //Save Design (After Pop-Up)     
      function vanyessave()
      {      
       var modal = document.getElementById("myModal");
       modal.style.display = "none"; 
       var buttons = document.getElementsByClassName("custombuttons");       
       
       //when the design is saved it disables the buttons (BETA)
       for(var i = 0; i < buttons.length; i++) 
       {
         $(".vanspectitle").fadeIn("slow");
         $(".vanshoesize").fadeIn("slow");
         $(".vanshoespecs").fadeIn("slow");
         buttons[i].disabled = true;
       }

       //Check Plain Images
       if($('.vanscustomP1').css('display') == 'block'){document.getElementById("sole").innerHTML = "<input name='sole' value= 'VanSole'>";}
       if($('.vanscustomP2').css('display') == 'block'){document.getElementById("middle").innerHTML = "<input id='middle' name='Middle' value='VanMiddle'>";}
       if($('.vanscustomP3').css('display') == 'block'){document.getElementById("fnb").innerHTML = "<input id='fnb' type='hidden' name='FrontandBack' value='VanBackAndToe'>";}
       if($('.vanscustomP4').css('display') == 'block'){document.getElementById("front").innerHTML = "<input id='front' type='hidden' name='Front' value='VanFront'>";}
       if($('.vanscustomP5').css('display') == 'block'){document.getElementById("laces").innerHTML = "<input id='laces' type='hidden' name='Laces' value='VanLaces'>";}
       if($('.vanscustomP6').css('display') == 'block'){document.getElementById("tounge").innerHTML = "<input id='tounge' type='hidden' name='Tounge' value='VanTounge'>";}
       if($('.vanscustomP7').css('display') == 'block'){document.getElementById("top").innerHTML = "<input id='top' type='hidden' name='Top' value='VanTop'>";}
       if($('.vanscustomP8').css('display') == 'block'){document.getElementById("stripe").innerHTML = "<input id='stripe' type='hidden' name='Stripe' value='VanStripe'>";}
       //Check Blue Images
       if($('.vanscustomB1').css('display') == 'block'){document.getElementById("sole").innerHTML = "<input id='sole' type='hidden' name='sole' value='VanSoleBlue'/>";}
       if($('.vanscustomB2').css('display') == 'block'){document.getElementById("middle").innerHTML = "<input id='middle' type='hidden' name='Middle' value='VanMiddleBlue'/>";}
       if($('.vanscustomB3').css('display') == 'block'){document.getElementById("fnb").innerHTML = "<input id='fnb' type='hidden' name='FrontandBack' value='VanBackAndToeBlue'/>";}
       if($('.vanscustomB4').css('display') == 'block'){document.getElementById("front").innerHTML = "<input id='front' type='hidden' name='Front' value='VanFrontBlue'/>";}
       if($('.vanscustomB5').css('display') == 'block'){document.getElementById("laces").innerHTML = "<input id='laces' type='hidden' name='Laces' value='VanLacesBlue'/>";}
       if($('.vanscustomB6').css('display') == 'block'){document.getElementById("tounge").innerHTML = "<input id='tounge' type='hidden' name='Tounge' value='VanToungeBlue'/>";}
       if($('.vanscustomB7').css('display') == 'block'){document.getElementById("top").innerHTML = "<input id='top' type='hidden' name='Top' value='VanTopBlue'/>";}
       if($('.vanscustomB8').css('display') == 'block'){document.getElementById("stripe").innerHTML = "<input id='stripe' type='hidden' name='Stripe' value='VanStripeBlue'/>";}
      //Check Red Images
       if($('.vanscustomR1').css('display') == 'block'){document.getElementById("sole").innerHTML = "<input id='sole' type='hidden' name='sole' value='VanSoleRed'/>";}
       if($('.vanscustomR2').css('display') == 'block'){document.getElementById("middle").innerHTML = "<input id='middle' type='hidden' name='Middle' value='VanMiddleRed'/>";}
       if($('.vanscustomR3').css('display') == 'block'){document.getElementById("fnb").innerHTML = "<input id='fnb' type='hidden' name='FrontandBack' value='VanBackAndToeRed'/>";}
       if($('.vanscustomR4').css('display') == 'block'){document.getElementById("front").innerHTML = "<input id='front' type='hidden' name='Front' value='VanFrontRed'/>";}
       if($('.vanscustomR5').css('display') == 'block'){document.getElementById("laces").innerHTML = "<input id='laces' type='hidden' name='Laces' value='VanLacesRed'/>";}
       if($('.vanscustomR6').css('display') == 'block'){document.getElementById("tounge").innerHTML = "<input id='tounge' type='hidden' name='Tounge' value='VanToungeRed'/>";}
       if($('.vanscustomR7').css('display') == 'block'){document.getElementById("top").innerHTML = "<input id='top' type='hidden' name='Top' value='VanTopRed'/>";}
       if($('.vanscustomR8').css('display') == 'block'){document.getElementById("stripe").innerHTML = "<input id='stripe' type='hidden' name='Stripe' value='VanStripeRed'/>";}
      //Check Green Images
       if($('.vanscustomG1').css('display') == 'block'){document.getElementById("sole").innerHTML = "<input id='sole' type='hidden' name='sole' value='VanSoleGreen'/>";}
       if($('.vanscustomG2').css('display') == 'block'){document.getElementById("middle").innerHTML = "<input id='middle' type='hidden' name='Middle' value='VanMiddleGreen'/>";}
       if($('.vanscustomG3').css('display') == 'block'){document.getElementById("fnb").innerHTML = "<input id='fnb' type='hidden' name='FrontandBack' value='VanBackAndToeGreen'/>";}
       if($('.vanscustomG4').css('display') == 'block'){document.getElementById("front").innerHTML = "<input id='front' type='hidden' name='Front' value='VanFrontGreen'/>";}
       if($('.vanscustomG5').css('display') == 'block'){document.getElementById("laces").innerHTML = "<input id='laces' type='hidden' name='Laces' value='VanLacesGreen'/>";}
       if($('.vanscustomG6').css('display') == 'block'){document.getElementById("tounge").innerHTML = "<input id='tounge' type='hidden' name='Tounge' value='VanToungeGreen'/>";}
       if($('.vanscustomG7').css('display') == 'block'){document.getElementById("top").innerHTML = "<input id='top' type='hidden' name='Top' value='VanTopGreen'/>";}
       if($('.vanscustomG8').css('display') == 'block'){document.getElementById("stripe").innerHTML = "<input id='stripe' type='hidden' name='Stripe' value='VanStripeGreen'/>";}
      //Check Black Images
       if($('.vanscustomBL1').css('display') == 'block'){document.getElementById("sole").innerHTML = "<input id='sole' type='hidden' name='sole' value='VanSoleBlack'/>";}
       if($('.vanscustomBL2').css('display') == 'block'){document.getElementById("middle").innerHTML = "<input id='middle' type='hidden' name='Middle' value='VanMiddleBlack'/>";}
       if($('.vanscustomBL3').css('display') == 'block'){document.getElementById("fnb").innerHTML = "<input id='fnb' type='hidden' name='FrontandBack' value='VanBackAndToeBlack'/>";}
       if($('.vanscustomBL4').css('display') == 'block'){document.getElementById("front").innerHTML = "<input id='front' type='hidden' name='Front' value='VanFrontBlack'/>";}
       if($('.vanscustomBL5').css('display') == 'block'){document.getElementById("laces").innerHTML = "<input id='laces' type='hidden' name='Laces' value='VanLacesBlack'/>";}
       if($('.vanscustomBL6').css('display') == 'block'){document.getElementById("tounge").innerHTML = "<input id='tounge' type='hidden' name='Tounge' value='VanToungeBlack'/>"}
       if($('.vanscustomBL7').css('display') == 'block'){document.getElementById("top").innerHTML = "<input id='top' type='hidden' name='Top' value='VanTopBlack'/>";}
       if($('.vanscustomBL8').css('display') == 'block'){document.getElementById("stripe").innerHTML = "<input id='stripe' type='hidden' name='Stripe' value='VanStripeBlack'/>";}

      }

      function vannosave()
      {
       var modal = document.getElementById("myModal");
       modal.style.display = "none";
      }

      function redesign()
      {
           var buttons = document.getElementsByClassName("custombuttons");
      for(var i = 0; i < buttons.length; i++) 
           {
           buttons[i].disabled = false;
             $(".vanspectitle").fadeOut("slow");
              $(".vanshoesize").fadeOut("slow");
             $(".vanshoespecs").fadeOut("slow");
           }    
      }

      //Front and Back
      function VanFNBblue()
      { 
        blueFNB.style.display = "block"; whiteFNB.style.display = "none"; redFNB.style.display = "none"; greenFNB.style.display = "none"; blackFNB.style.display = "none";
      }
       function VanFNBred()
      {
        redFNB.style.display = "block"; whiteFNB.style.display = "none"; blueFNB.style.display = "none"; greenFNB.style.display = "none"; blackFNB.style.display = "none";
      }
       function VanFNBgreen()
      {
        greenFNB.style.display = "block"; whiteFNB.style.display = "none"; blueFNB.style.display = "none"; redFNB.style.display = "none"; blackFNB.style.display = "none";
      }
       function VanFNBblack()
      {
        blackFNB.style.display = "block"; whiteFNB.style.display = "none"; blueFNB.style.display = "none"; redFNB.style.display = "none"; greenFNB.style.display = "none";
      }
      function VanFNBwhite()
      {
        whiteFNB.style.display = "block"; blackFNB.style.display = "none"; blueFNB.style.display = "none"; redFNB.style.display = "none"; greenFNB.style.display = "none";
      }

       //Laces
      function VanLacesBlue()
      { 
        blueLaces.style.display = "block"; whiteLaces.style.display = "none"; redLaces.style.display = "none"; greenLaces.style.display = "none"; blackLaces.style.display = "none";
      }
       function VanLacesRed()
      {
        redLaces.style.display = "block"; whiteLaces.style.display = "none"; blueLaces.style.display = "none"; greenLaces.style.display = "none"; blackLaces.style.display = "none";
      }
       function VanLacesGreen()
      {
        greenLaces.style.display = "block"; whiteLaces.style.display = "none"; blueLaces.style.display = "none"; redLaces.style.display = "none"; blackLaces.style.display = "none";
      }
       function VanLacesBlack()
      {
        blackLaces.style.display = "block"; whiteLaces.style.display = "none"; blueLaces.style.display = "none"; redLaces.style.display = "none"; greenLaces.style.display = "none";
      }
      function VanLacesWhite()
      {
        whiteLaces.style.display = "block"; blackLaces.style.display = "none"; blueLaces.style.display = "none"; redLaces.style.display = "none"; greenLaces.style.display = "none";
      }

       //stripe
      function VanStripeBlue()
      { 
        blueStripe.style.display = "block"; whiteStripe.style.display = "none"; redStripe.style.display = "none"; greenStripe.style.display = "none"; blackStripe.style.display = "none";
      }
       function VanStripeRed()
      {
        redStripe.style.display = "block"; whiteStripe.style.display = "none"; blueStripe.style.display = "none"; greenStripe.style.display = "none"; blackStripe.style.display = "none";
      }
       function VanStripeGreen()
      {
        greenStripe.style.display = "block"; whiteStripe.style.display = "none"; blueStripe.style.display = "none"; redStripe.style.display = "none"; blackStripe.style.display = "none";
      }
       function VanStripeBlack()
      {
        blackStripe.style.display = "block"; whiteStripe.style.display = "none"; blueStripe.style.display = "none"; redStripe.style.display = "none"; greenStripe.style.display = "none";
      }
      function VanStripeWhite()
      {
        whiteStripe.style.display = "block"; blackStripe.style.display = "none"; blueStripe.style.display = "none"; redStripe.style.display = "none"; greenStripe.style.display = "none";
      }

      //middle
      function VanMiddleBlue()
      { 
        blueMiddle.style.display = "block"; whiteMiddle.style.display = "none"; redMiddle.style.display = "none"; greenMiddle.style.display = "none"; blackMiddle.style.display = "none";
      }
       function VanMiddleRed()
      {
        redMiddle.style.display = "block"; whiteMiddle.style.display = "none"; blueMiddle.style.display = "none"; greenMiddle.style.display = "none"; blackMiddle.style.display = "none";
      }
       function VanMiddleGreen()
      {
        greenMiddle.style.display = "block"; whiteMiddle.style.display = "none"; blueMiddle.style.display = "none"; redMiddle.style.display = "none"; blackMiddle.style.display = "none";
      }
       function VanMiddleBlack()
      {
        blackMiddle.style.display = "block"; whiteMiddle.style.display = "none"; blueMiddle.style.display = "none"; redMiddle.style.display = "none"; greenMiddle.style.display = "none";
      }
      function VanMiddleWhite()
      {
        whiteMiddle.style.display = "block"; blackMiddle.style.display = "none"; blueMiddle.style.display = "none"; redMiddle.style.display = "none"; greenMiddle.style.display = "none";
      }

      //sole
      function VanSoleBlue()
      { 
        blueSole.style.display = "block"; whiteSole.style.display = "none"; redSole.style.display = "none"; greenSole.style.display = "none"; blackSole.style.display = "none";
      }
       function VanSoleRed()
      {
        redSole.style.display = "block"; whiteSole.style.display = "none"; blueSole.style.display = "none"; greenSole.style.display = "none"; blackSole.style.display = "none";
      }
       function VanSoleGreen()
      {
        greenSole.style.display = "block"; whiteSole.style.display = "none"; blueSole.style.display = "none"; redSole.style.display = "none"; blackSole.style.display = "none";
      }
       function VanSoleBlack()
      {
        blackSole.style.display = "block"; whiteSole.style.display = "none"; blueSole.style.display = "none"; redSole.style.display = "none"; greenSole.style.display = "none";
      }
      function VanSoleWhite()
      {
        whiteSole.style.display = "block"; blackSole.style.display = "none"; blueSole.style.display = "none"; redSole.style.display = "none"; greenSole.style.display = "none";
      }

      //Tounge
      function VanToungeBlue()
      { 
        blueTounge.style.display = "block"; whiteTounge.style.display = "none"; redTounge.style.display = "none"; greenTounge.style.display = "none"; blackTounge.style.display = "none";
      }
       function VanToungeRed()
      {
        redTounge.style.display = "block"; whiteTounge.style.display = "none"; blueTounge.style.display = "none"; greenTounge.style.display = "none"; blackTounge.style.display = "none";
      }
       function VanToungeGreen()
      {
        greenTounge.style.display = "block"; whiteTounge.style.display = "none"; blueTounge.style.display = "none"; redTounge.style.display = "none"; blackSTounge.style.display = "none";
      }
       function VanToungeBlack()
      {
        blackTounge.style.display = "block"; whiteTounge.style.display = "none"; blueTounge.style.display = "none"; redTounge.style.display = "none"; greenTounge.style.display = "none";
      }
      function VanToungeWhite()
      {
        whiteTounge.style.display = "block"; blackTounge.style.display = "none"; blueTounge.style.display = "none"; redTounge.style.display = "none"; greenTounge.style.display = "none";
      }

      //Front
      function VanFrontBlue()
      { 
        blueFront.style.display = "block"; whiteFront.style.display = "none"; redFront.style.display = "none"; greenFront.style.display = "none"; blackFront.style.display = "none";
      }
       function VanFrontRed()
      {
        redFront.style.display = "block"; whiteFront.style.display = "none"; blueFront.style.display = "none"; greenFront.style.display = "none"; blackFront.style.display = "none";
      }
       function VanFrontGreen()
      {
        greenFront.style.display = "block"; whiteFront.style.display = "none"; blueFront.style.display = "none"; redFront.style.display = "none"; blackFront.style.display = "none";
      }
       function VanFrontBlack()
      {
        blackFront.style.display = "block"; whiteFront.style.display = "none"; blueFront.style.display = "none"; redFront.style.display = "none"; greenFront.style.display = "none";
      }
      function VanFrontWhite()
      {
        whiteFront.style.display = "block"; blackFront.style.display = "none"; blueFront.style.display = "none"; redFront.style.display = "none"; greenFront.style.display = "none";
      }
      
      //Top
      function VanTopBlue()
      { 
        blueTop.style.display = "block"; whiteTop.style.display = "none"; redTop.style.display = "none"; greenTop.style.display = "none"; blackTop.style.display = "none";
      }
       function VanTopRed()
      {
        redTop.style.display = "block"; whiteTop.style.display = "none"; blueTop.style.display = "none"; greenTop.style.display = "none"; blackTop.style.display = "none";
      }
       function VanTopGreen()
      {
        greenTop.style.display = "block"; whiteTop.style.display = "none"; blueTop.style.display = "none"; redTop.style.display = "none"; blackTop.style.display = "none";
      }
       function VanTopBlack()
      {
        blackTop.style.display = "block"; whiteTop.style.display = "none"; blueTop.style.display = "none"; redTop.style.display = "none"; greenTop.style.display = "none";
      }
      function VanTopWhite()
      {
        whiteTop.style.display = "block"; blackTop.style.display = "none"; blueTop.style.display = "none"; redTopTop.style.display = "none"; greenTop.style.display = "none";
      }
        </script>
