
      <div id="customiseyourself">
          Here we allow our customers to be creative in their own way!<br>
          Here you're able to pick from many different popular brands and models<br>
          to put your own design onto <b>OR</b> send us your deisn with a product<br>
          you would like this to be printed on with detailed instructions of<br>
          how you would like the design to be pritned onto the product and<br>
          we'll do all of the hard work for you! 
      </div>

      <div id="nikelogo">
        <img src="data:image/png;base64,{{nikelogo.image}}">
      </div>

      <h2 class ="customiseheader designtitle">Choose your design</h2>

      <div class="customisesection">

       <div id="customisebox">

        <!--Plain Images --> 
        
        <img src="data:image/png;base64,{{customisebackground.image}}" width="100%" height="100%"> 
        <img src="data:image/png;base64,{{podium.image}}" width="100%" height="100%">  
        <img id= "Nshoeoutline"src="data:image/png;base64,{{NShoeOutline.image}}" width="100%" height="100%">
        <img id="FNB" src="data:image/png;base64,{{NFrontandBack.image}}" width="100%" height="100%">
        <img id="NLaces"src="data:image/png;base64,{{NLaces.image}}" width="100%" height="100%">
        <img id="nikemiddleblank" src="data:image/png;base64,{{NMiddleSection.image}}" width="100%" height="100%">
        <img id="NShoeTounge" src="data:image/png;base64,{{NShoeTounge.image}}" width="100%" height="100%">
        <img id="NSole" src="data:image/png;base64,{{NSole.image}}" width="100%" height="100%">
        <img id="NToeandHeel" src="data:image/png;base64,{{NToeandHeel.image}}" width="100%" height="100%">
        <img id="swooshblank" src="data:image/png;base64,{{Swoosh.image}}" width="100%" height="100%">

        <!--Blue Images -->   
        <img id="FNBB" src="data:image/png;base64,{{NFrontandBackBlue.image}}" width="100%" height="100%">
        <img id="swooshblue" src="data:image/png;base64,{{swooshblue.image}}" width="100%" height="100%">
        <img id="nikemiddleblue" src="data:image/png;base64,{{NMiddleSectionBlue.image}}" width="100%" height="100%">
        <img id="NSoleBlue" src="data:image/png;base64,{{NSoleBlue.image}}" width="100%" height="100%">
        <img id="NToeandHeelBlue" src="data:image/png;base64,{{NToeandHeelBlue.image}}" width="100%" height="100%">
        <img id="NShoeToungeBlue" src="data:image/png;base64,{{NShoeToungeBlue.image}}" width="100%" height="100%">


        <!--Red Images -->
        <img id="FNBR" src="data:image/png;base64,{{NFrontandBackRed.image}}" width="100%" height="100%">
        <img id="swooshred" src="data:image/png;base64,{{swooshred.image}}" width="100%" height="100%">
        <img id="nikemiddlered" src="data:image/png;base64,{{NMiddleSectionRed.image}}" width="100%" height="100%">
        <img id="NSoleRed" src="data:image/png;base64,{{NSoleRed.image}}" width="100%" height="100%">
        <img id="NToeandHeelRed" src="data:image/png;base64,{{NToeandHeelRed.image}}" width="100%" height="100%">
        <img id="NShoeToungeRed" src="data:image/png;base64,{{NShoeToungeRed.image}}" width="100%" height="100%">

        <!--Green Images -->
        <img id="FNBG" src="data:image/png;base64,{{NFrontandBackGreen.image}}" width="100%" height="100%">
        <img id="swooshgreen" src="data:image/png;base64,{{swooshgreen.image}}" width="100%" height="100%">
        <img id="nikemiddlegreen" src="data:image/png;base64,{{NMiddleSectionGreen.image}}" width="100%" height="100%">
        <img id="NSoleGreen" src="data:image/png;base64,{{NSoleGreen.image}}" width="100%" height="100%">
        <img id="NToeandHeelGreen" src="data:image/png;base64,{{NToeandHeelGreen.image}}" width="100%" height="100%">
        <img id="NShoeToungeGreen" src="data:image/png;base64,{{NShoeToungeGreen.image}}" width="100%" height="100%">

        <!--Black Images -->
        <img id="FNBBL" src="data:image/png;base64,{{NFrontandBackBlack.image}}" width="100%" height="100%">
        <img id="swooshblack" src="data:image/png;base64,{{swooshblack.image}}" width="100%" height="100%">
        <img id="nikemiddleblack" src="data:image/png;base64,{{NMiddleSectionBlack.image}}" width="100%" height="100%">
        <img id="NSoleBlack" src="data:image/png;base64,{{NSoleBlack.image}}" width="100%" height="100%">
        <img id="NToeandHeelBlack" src="{{NToeandHeelBlack.image}}" width="100%" height="100%">
        <img id="NShoeToungeBlack" src="data:image/png;base64,{{NShoeToungeBlack.image}}" width="100%" height="100%">


        <!--Special Images -->
        <img id="FNBGC" src="data:image/png;base64,{{NFrontandBackGreyCamo.image}}" width="100%" height="100%">
        <img id="FNBRC" src="data:image/png;base64,{{NFrontandBackRedCamo.image}}" width="100%" height="100%">
        <img id="swooshredcamo" src="data:image/png;base64,{{swooshredcamo.image}}" width="100%" height="100%">
        <img id="swooshgreycamo" src="data:image/png;base64,{{swooshgreycamo.image}}" width="100%" height="100%">
        <img id="nikemiddleredcamo" src="data:image/png;base64,{{NMiddleSectionRedCamo.image}}" width="100%" height="100%">
        <img id="nikemiddlegreycamo" src="data:image/png;base64,{{NMiddleSectionGreyCamo.image}}" width="100%" height="100%">
        <img id="NToeandHeelRedCamo" src="data:image/png;base64,{{NToeandHeelRedCamo.image}}" width="100%" height="100%">
        <img id="NToeandHeelGreyCamo" src="data:image/png;base64,{{NToeandHeelGreyCamo.image}}" width="100%" height="100%">
        <img id="NShoeToungeRedCamo" src="data:image/png;base64,{{NShoeToungeRedCamo.image}}" width="100%" height="100%">
        <img id="NShoeToungeGreyCamo" src="data:image/png;base64,{{NShoeToungeGreyCamo.image}}" width="100%" height="100%">
      </div>


      <div class ="slider" id="customiseselector">
        <div class="slide" id="nikeFNB">
          <h3>Front and Back Shoe</h3>
          <button class ="custombuttons" id="customboxblue" onclick="NikeFNBBlue()"> </button>
          <button class ="custombuttons" id="customboxred" onclick="NikeFNBRed()"> </button>                     
          <button class ="custombuttons" id="customboxgreen" onclick="NikeFNBGreen()"> </button>
          <button class ="custombuttons" id="customboxblack" onclick="NikeFNBBlack()"> </button>
          <button class ="custombuttons" id="customboxgreycam" onclick="NikeFNBGreyCam()"> </button>
          <button class ="custombuttons" id="customboxredcam" onclick="NikeFNBRedCam()"> </button>

        </div>

        <div class="slide" id="nikeswoosh">
          <h3>Nike Tick</h3>
          <button class ="custombuttons" id="swooshcustomboxblue" onclick="NikeSwooshBlue()"> </button>
          <button class ="custombuttons" id="swooshcustomboxred" onclick="NikeSwooshRed()"> </button>                     
          <button class ="custombuttons" id="swooshcustomboxgreen" onclick="NikeSwooshGreen()"> </button>
          <button class ="custombuttons" id="swooshcustomboxblack" onclick="NikeSwooshBlack()"> </button>
          <button class ="custombuttons" id="swooshcustomboxgreycam" onclick="NikeSwooshGreyCam()"> </button>
          <button class ="custombuttons" id="swooshcustomboxredcam" onclick="NikeSwooshRedCam()"> </button>
        </div>


        <div class="slide" id="middlesection">
          <h3>Middle Section</h3>
          <button class ="custombuttons" id="middlesectioncustomboxblue" onclick="NikeMiddleBlue()"> </button>
          <button class ="custombuttons" id="middlesectioncustomboxred" onclick="NikeMiddleRed()"> </button>                     
          <button class ="custombuttons" id="middlesectioncustomboxgreen" onclick="NikeMiddleGreen()"> </button>
          <button class ="custombuttons" id="middlesectioncustomboxblack" onclick="NikeMiddleBlack()"> </button>
          <button class ="custombuttons" id="middlesectioncustomboxgreycam" onclick="NikeMiddleGreyCam()"> </button>
          <button class ="custombuttons" id="middlesectioncustomboxredcam" onclick="NikeMiddleRedCam()"> </button> 
        </div>

        <div class="slide" id="nikesole">
          <h3>Nike Sole</h3>
          <button class ="custombuttons" id="nikesolecustomboxblue" onclick="NikeSoleBlue()"> </button>
          <button class ="custombuttons" id="nikesolecustomboxred" onclick="NikeSoleRed()"> </button>                     
          <button class ="custombuttons" id="nikesolecustomboxgreen" onclick="NikeSoleGreen()"> </button>
          <button class ="custombuttons" id="nikesolecustomboxblack" onclick="NikeSoleBlack()"> </button>
        </div>

        <div class="slide" id="toeandheel">
          <h3>Toe and Heel</h3>
          <button class ="custombuttons" id="toeandheelcustomboxblue" onclick="NikeToeHeelBlue()" > </button>
          <button class ="custombuttons" id="toeandheelcustomboxred" onclick="NikeToeHeelRed()"> </button>                     
          <button class ="custombuttons" id="toeandheelcustomboxgreen" onclick="NikeToeHeelGreen()"> </button>
          <button class ="custombuttons" id="toeandheelcustomboxblack" onclick="NikeToeHeelBlack()"> </button>
          <button class ="custombuttons" id="toeandheelcustomboxgreycam" onclick="NikeToeHeelGreyCam()"> </button>
          <button class ="custombuttons" id="toeandheelcustomboxredcam" onclick="NikeToeHeelRedCam()"> </button> 
        </div>

        <div class="slide" id="shoetounge">
          <h3>Shoe Tounge</h3>
          <button class ="custombuttons" id="shoetoungecustomboxblue" onclick="NikeToungeBlue()"> </button>
          <button class ="custombuttons" id="shoetoungecustomboxred" onclick="NikeToungeRed()"> </button>                     
          <button class ="custombuttons" id="shoetoungecustomboxgreen" onclick="NikeToungeGreen()"> </button>
          <button class ="custombuttons" id="shoetoungecustomboxblack" onclick="NikeToungeBlack()"> </button>
          <button class ="custombuttons" id="shoetoungecustomboxgreycam" onclick="NikeToungeGreyCam()"> </button>
          <button class ="custombuttons" id="shoetoungecustomboxredcam" onclick="NikeToungeRedCam()"> </button> 
        </div>


        <div id="saveandclear">
          <button class="savedesign" onclick="savedesign()"> Save your design </button>
          <button class="redesign" onclick="redesign()"> Redesign </button>
         
          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Are you sure you want to save your design? You wont be able to make any changes.</p>
              <button class="yessavebutton" onclick="yessave()">yes</button>
              <button class="nosavebutton" onclick="nosave()">No</button>
            </div>

          </div>
        </div>


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
          <span class="dot" onclick="currentSlide(6)"></span>
        </div>

      </div>

    </div>



    <h2 class ="customiseheader spectitle"> Choose your shoe specs</h1>

      <div class="shoespecs">
     <div class="nikeshoesize">
      <h3>Shoe Size</h2>
        <select>
      <option>Size 6</option>
      <option>Size 7</option>    
      <option>Size 8</option>
      <option>Size 9</option>
      <option>Size 10</option>
        </select>
  <button class="addtocart" onclick="addtocart()"> Add to cart </button> 
      </div>
      </div>
    

    <script type="text/javascript">
    //Global Variables

        var slideIndex = 1;
        showSlides(slideIndex);

    //Nike Colours
    //Blank
    var nikeFNB = document.getElementById("FNB"); var nikeOutline = document.getElementById("Nshoeoutline"); var nikeLaces = document.getElementById("NLaces"); var nikeMiddle = document.getElementById("nikemiddleblank"); nikeTounge = document.getElementById("NShoeTounge"); nikeSole = document.getElementById("NSole"); nikeToeHeel = document.getElementById("NToeandHeel"); nikeSwoosh = document.getElementById("swooshblank"); 
    //Blue
    var nikeFNBBlue = document.getElementById("FNBB"); var nikeMiddleBlue = document.getElementById("nikemiddleblue"); nikeToungeBlue = document.getElementById("NShoeToungeBlue"); nikeSoleBlue = document.getElementById("NSoleBlue"); nikeToeHeelBlue = document.getElementById("NToeandHeelBlue"); nikeSwooshBlue = document.getElementById("swooshblue");
    //Red
    var nikeFNBRed = document.getElementById("FNBR"); var nikeMiddleRed = document.getElementById("nikemiddlered"); nikeToungeRed = document.getElementById("NShoeToungeRed"); nikeSoleRed = document.getElementById("NSoleRed"); nikeToeHeelRed = document.getElementById("NToeandHeelRed"); nikeSwooshRed = document.getElementById("swooshred");
    //Green
    var nikeFNBGreen = document.getElementById("FNBG"); var nikeMiddleGreen = document.getElementById("nikemiddlegreen"); nikeToungeGreen = document.getElementById("NShoeToungeGreen"); nikeSoleGreen= document.getElementById("NSoleGreen"); nikeToeHeelGreen = document.getElementById("NToeandHeelGreen"); nikeSwooshGreen = document.getElementById("swooshgreen");
    //Black
    var nikeFNBBlack = document.getElementById("FNBBL"); var nikeMiddleBlack = document.getElementById("nikemiddleblack"); nikeToungeBlack = document.getElementById("NShoeToungeBlack"); nikeSoleBlack = document.getElementById("NSoleBlack"); nikeToeHeelBlack = document.getElementById("NToeandHeelBlack"); nikeSwooshBlack = document.getElementById("swooshblack");
    //Grey Camo
    var nikeFNBGreyCam = document.getElementById("FNBGC"); var nikeMiddleGreyCam = document.getElementById("nikemiddlegreycamo"); nikeToungeGreyCam = document.getElementById("NShoeToungeGreyCamo"); nikeSoleGreyCam = document.getElementById("NShoeToungelGreyCamo"); nikeToeHeelGreyCam = document.getElementById("NToeandHeelGreyCamo"); nikeSwooshGreyCam = document.getElementById("swooshgreycamo");
    //Red Camo
    var nikeFNBRedCam = document.getElementById("FNBRC"); var nikeMiddleRedCam = document.getElementById("nikemiddleredcamo"); nikeToungeRedCam = document.getElementById("NShoeToungeRedCamo"); nikeSoleRedCam = document.getElementById("NShoeToungelRedCamo"); nikeToeHeelRedCam = document.getElementById("NToeandHeelRedCamo"); nikeSwooshRedCam = document.getElementById("swooshredcamo");

    //Front and Back
      function NikeFNBBlue()
      { 
        nikeFNBBlue.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBRed.style.display = "none"; nikeFNBGreen.style.display = "none"; nikeFNBBlack.style.display = "none"; nikeFNBGreyCam.style.display = "none"; nikeFNBRedCam.style.display = "none";
      }
       function NikeFNBRed()
      {
        nikeFNBRed.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBBlue.style.display = "none"; nikeFNBGreen.style.display = "none"; nikeFNBBlack.style.display = "none"; nikeFNBGreyCam.style.display = "none"; nikeFNBRedCam.style.display = "none";
      }
       function NikeFNBGreen()
      {
        nikeFNBGreen.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBBlue.style.display = "none"; nikeFNBRed.style.display = "none"; nikeFNBBlack.style.display = "none"; nikeFNBGreyCam.style.display = "none"; nikeFNBRedCam.style.display = "none";
      }
       function NikeFNBBlack()
      {
        nikeFNBBlack.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBBlue.style.display = "none"; nikeFNBRed.style.display = "none"; nikeFNBGreen.style.display = "none"; nikeFNBGreyCam.style.display = "none"; nikeFNBRedCam.style.display = "none";
      }
       function NikeFNBGreyCam()
      {
        nikeFNBGreyCam.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBBlue.style.display = "none"; nikeFNBRed.style.display = "none"; nikeFNBGreen.style.display = "none"; nikeFNBBlack.style.display = "none"; nikeFNBRedCam.style.display = "none";
      }
       function NikeFNBRedCam()
      {
        nikeFNBRedCam.style.display = "block"; nikeFNB.style.display = "none"; nikeFNBBlue.style.display = "none"; nikeFNBRed.style.display = "none"; nikeFNBGreen.style.display = "none"; nikeFNBGreyCam.style.display = "none"; nikeFNBBlack.style.display = "none";
      }
    //Middle
    function NikeMiddleBlue()
      { 
        nikeMiddleBlue.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleRed.style.display = "none"; nikeMiddleGreen.style.display = "none"; nikeMiddleBlack.style.display = "none"; nikeMiddleGreyCam.style.display = "none"; nikeMiddleRedCam.style.display = "none";
      }
       function NikeMiddleRed()
      {
        nikeMiddleRed.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleBlue.style.display = "none"; nikeMiddleGreen.style.display = "none"; nikeMiddleBlack.style.display = "none"; nikeMiddleGreyCam.style.display = "none"; nikeMiddleRedCam.style.display = "none";
      }
       function NikeMiddleGreen()
      {
        nikeMiddleGreen.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleBlue.style.display = "none"; nikeMiddleRed.style.display = "none"; nikeMiddleBlack.style.display = "none"; nikeMiddleGreyCam.style.display = "none"; nikeMiddleRedCam.style.display = "none";
      }
       function NikeMiddleBlack()
      {
        nikeMiddleBlack.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleBlue.style.display = "none"; nikeMiddleRed.style.display = "none"; nikeMiddleGreen.style.display = "none"; nikeMiddleGreyCam.style.display = "none"; nikeMiddleRedCam.style.display = "none";
      }
       function NikeMiddleGreyCam()
      {
        nikeMiddleGreyCam.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleBlue.style.display = "none"; nikeMiddleRed.style.display = "none"; nikeMiddleGreen.style.display = "none"; nikeMiddleBlack.style.display = "none"; nikeMiddleRedCam.style.display = "none";
      }
       function NikeMiddleRedCam()
      {
        nikeMiddleRedCam.style.display = "block"; nikeMiddle.style.display = "none"; nikeMiddleBlue.style.display = "none"; nikeMiddleRed.style.display = "none"; nikeMiddleGreen.style.display = "none"; nikeMiddleGreyCam.style.display = "none"; nikeMiddleBlack.style.display = "none";
      }
      //Tounge
    function NikeToungeBlue()
      { 
        nikeToungeBlue.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeRed.style.display = "none"; nikeToungeGreen.style.display = "none"; nikeToungeBlack.style.display = "none"; nikeToungeGreyCam.style.display = "none"; nikeToungeRedCam.style.display = "none";
      }
       function NikeToungeRed()
      {
        nikeToungeRed.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeBlue.style.display = "none"; nikeToungeGreen.style.display = "none"; nikeToungeBlack.style.display = "none"; nikeToungeGreyCam.style.display = "none"; nikeToungeRedCam.style.display = "none";
      }
       function NikeToungeGreen()
      {
        nikeToungeGreen.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeBlue.style.display = "none"; nikeToungeRed.style.display = "none"; nikeToungeBlack.style.display = "none"; nikeToungeGreyCam.style.display = "none"; nikeToungeRedCam.style.display = "none";
      }
       function NikeToungeBlack()
      {
        nikeToungeBlack.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeBlue.style.display = "none"; nikeToungeRed.style.display = "none"; nikeToungeGreen.style.display = "none"; nikeToungeGreyCam.style.display = "none"; nikeToungeRedCam.style.display = "none";
      }
       function NikeToungeGreyCam()
      {
        nikeToungeGreyCam.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeBlue.style.display = "none"; nikeToungeRed.style.display = "none"; nikeToungeGreen.style.display = "none"; nikeToungeBlack.style.display = "none"; nikeToungeRedCam.style.display = "none";
      }
       function NikeToungeRedCam()
      {
        nikeToungeRedCam.style.display = "block"; nikeTounge.style.display = "none"; nikeToungeBlue.style.display = "none"; nikeToungeRed.style.display = "none"; nikeToungeGreen.style.display = "none"; nikeToungeGreyCam.style.display = "none"; nikeToungeBlack.style.display = "none";
      }
      //Sole
       function NikeSoleBlue()
      { 
        nikeSoleBlue.style.display = "block"; nikeSole.style.display = "none"; nikeSoleRed.style.display = "none"; nikeSoleGreen.style.display = "none"; nikeSoleBlack.style.display = "none"; nikeSoleGreyCam.style.display = "none"; nikeSoleRedCam.style.display = "none";
      }
       function NikeSoleRed()
      {
        nikeSoleRed.style.display = "block"; nikeSole.style.display = "none"; nikeSoleBlue.style.display = "none"; nikeSoleGreen.style.display = "none"; nikeSoleBlack.style.display = "none"; nikeSoleGreyCam.style.display = "none"; nikeSoleRedCam.style.display = "none";
      }
       function NikeSoleGreen()
      {
        nikeSoleGreen.style.display = "block"; nikeSole.style.display = "none"; nikeSoleBlue.style.display = "none"; nikeSoleRed.style.display = "none"; nikeSoleBlack.style.display = "none"; nikeSoleGreyCam.style.display = "none"; nikeSoleRedCam.style.display = "none";
      }
       function NikeSoleBlack()
      {
        nikeSoleBlack.style.display = "block"; nikeSole.style.display = "none"; nikeSoleBlue.style.display = "none"; nikeSoleRed.style.display = "none"; nikeSoleGreen.style.display = "none"; nikeSoleGreyCam.style.display = "none"; nikeSoleRedCam.style.display = "none";
      }
      //Toe and Heel
       function NikeToeHeelBlue()
      { 
        nikeToeHeelBlue.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelRed.style.display = "none"; nikeToeHeelGreen.style.display = "none"; nikeToeHeelBlack.style.display = "none"; nikeToeHeelGreyCam.style.display = "none"; nikeToeHeelRedCam.style.display = "none";
      }
       function NikeToeHeelRed()
      {
        nikeToeHeelRed.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelBlue.style.display = "none"; nikeToeHeelGreen.style.display = "none"; nikeToeHeelBlack.style.display = "none"; nikeToeHeelGreyCam.style.display = "none"; nikeToeHeelRedCam.style.display = "none";
      }
       function NikeToeHeelGreen()
      {
        nikeToeHeelGreen.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelBlue.style.display = "none"; nikeToeHeelRed.style.display = "none"; nikeToeHeelBlack.style.display = "none"; nikeToeHeelGreyCam.style.display = "none"; nikeToeHeelRedCam.style.display = "none";
      }
       function NikeToeHeelBlack()
      {
        nikeToeHeelBlack.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelBlue.style.display = "none"; nikeToeHeelRed.style.display = "none"; nikeToeHeelGreen.style.display = "none"; nikeToeHeelGreyCam.style.display = "none"; nikeToeHeelRedCam.style.display = "none";
      }
       function NikeToeHeelGreyCam()
      {
        nikeToeHeelGreyCam.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelBlue.style.display = "none"; nikeToeHeelRed.style.display = "none"; nikeToeHeelGreen.style.display = "none"; nikeToeHeelBlack.style.display = "none"; nikeToeHeelRedCam.style.display = "none";
      }
       function NikeToeHeelRedCam()
      {
        nikeToeHeelRedCam.style.display = "block"; nikeToeHeel.style.display = "none"; nikeToeHeelBlue.style.display = "none"; nikeToeHeelRed.style.display = "none"; nikeToeHeelGreen.style.display = "none"; nikeToeHeelGreyCam.style.display = "none"; nikeToeHeelBlack.style.display = "none";
      }
      //Swoosh
          function NikeSwooshBlue()
      { 
        nikeSwooshBlue.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshRed.style.display = "none"; nikeSwooshGreen.style.display = "none"; nikeSwooshBlack.style.display = "none"; nikeSwooshGreyCam.style.display = "none"; nikeSwooshRedCam.style.display = "none";
      }
       function NikeSwooshRed()
      {
        nikeSwooshRed.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshBlue.style.display = "none"; nikeSwooshGreen.style.display = "none"; nikeSwooshBlack.style.display = "none"; nikeSwooshGreyCam.style.display = "none"; nikeSwooshRedCam.style.display = "none";
      }
       function NikeSwooshGreen()
      {
        nikeSwooshGreen.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshBlue.style.display = "none"; nikeSwooshRed.style.display = "none"; nikeSwooshBlack.style.display = "none"; nikeSwooshGreyCam.style.display = "none"; nikeSwooshRedCam.style.display = "none";
      }
       function NikeSwooshBlack()
      {
        nikeSwooshBlack.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshBlue.style.display = "none"; nikeSwooshRed.style.display = "none"; nikeSwooshGreen.style.display = "none"; nikeSwooshGreyCam.style.display = "none"; nikeSwooshRedCam.style.display = "none";
      }
       function NikeSwooshGreyCam()
      {
        nikeSwooshGreyCam.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshBlue.style.display = "none"; nikeSwooshRed.style.display = "none"; nikeSwooshGreen.style.display = "none"; nikeSwooshBlack.style.display = "none"; nikeSwooshRedCam.style.display = "none";
      }
       function NikeSwooshRedCam()
      {
        nikeSwooshRedCam.style.display = "block"; nikeSwoosh.style.display = "none"; nikeSwooshBlue.style.display = "none"; nikeSwooshRed.style.display = "none"; nikeSwooshGreen.style.display = "none"; nikeSwooshGreyCam.style.display = "none"; nikeSwooshBlack.style.display = "none";
      }
   

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slide");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }

    function savedesign() 
    {
     // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("savedesign");
    modal.style.display = "block";
    }

    function yessave()
    {
     var modal = document.getElementById("myModal");
     var buttons = document.getElementsByClassName("custombuttons");
     for(var i = 0; i < buttons.length; i++) 
     {
       buttons[i].disabled = true;
       modal.style.display = "none";
     }
     $(".spectitle").fadeIn("slow");   
    $(".nikeshoesize").fadeIn("slow");   
      $(".shoespec").fadeIn("slow");   
     }

    function nosave()
    {
     var modal = document.getElementById("myModal");
     modal.style.display = "none";
    }

    function redesign()
    {

      var buttons = document.getElementsByClassName("custombuttons");
      for(var i = 0; i < buttons.length; i++) 
      {
         buttons[i].disabled = false;
           $(".spectitle").fadeOut("slow");   
    $("nikeshoesize").fadeOut("slow");   
      $("#shoespecs").fadeOut("slow"); 
      }     
    }
    </script>

