

<div id ="itemBox">



   
   <div class = "pics">
      {{#each item.image}}
     <img src="data:image/png;base64,{{this}}" width="250" height="200">
      {{/each }}
  


</div>
 
 <div id="itemName">
   <h2>{{item.title}}</h2>
   </div>
<div class = " desc">

    <p>{{item.description}}</p>
    <p>£{{item.price}}</p>

  <form  action='/shoe/add-to-cart/{{item.id}}' method="POST" autocomplete="off" class = "form">

     <label for="shoesize">Shoe Size:</label>
      <select id="shoesize" name="shoesize">
         <option value="4.5">4.5 (UK)</option>
         <option value="5">5 (UK)</option>
         <option value="5.5">5.5 (UK)</option>
         <option value="6">6 (UK)</option>
         <option value="6.5">6.5 (UK)</option>
         <option value="7">7 (UK)</option>
         <option value="7.5">7.5 (UK)</option>
         <option value="8">8 (UK)</option>
         <option value="8.5">8.5 (UK)</option>
         <option value="9">9 (UK)</option>
         <option value="9.5">9.5 (UK)</option>
         <option value="10">10 (UK)</option>
         <option value="10.5">10.5 (UK)</option>
         <option value="11">11 (UK)</option>
         <option value="11.5">11.5 (UK)</option>
         </select>
         <br>
          <button type = "submit"> Submit </button>
{{!--          
<a href="/shoe/add-to-cart/{{item.id}}" method="POST" class="btn btn-primary" role="button">Add To Cart</a> --}}

</form>
</div>
 

 



</div>
